@font-face {
    font-family: "Exo2Thin";
    src: url("@~fonts/Exo2Thin.eot");
    src: url("@~fonts/Exo2Thin.woff") format('woff'),
        url("@~fonts/Exo2Thin.ttf") format('truetype'),
}

@font-face {
    font-family: "Trebuchet-MS";
    src: url("@~fonts/Trebuchet-MS.eot");
    src: url("@~fonts/Trebuchet-MS.ttf") format('truetype'),
        url("@~fonts/Trebuchet-MS.woff") format('woff')
}

@font-face {
    font-family: "Trebuchet-MS-Bold";
    src: url("@~fonts/Trebuchet-MS-Bold.eot");
    src: url("@~fonts/Trebuchet-MS-Bold.ttf") format('truetype'),
        url("@~fonts/Trebuchet-MS-Bold.woff") format('woff')
}

$exo2thin: "Exo2Thin", Arial, sans-serif;
$trebuchet: "Trebuchet-MS", Arial, sans-serif;
$trebuchet_bold: "Trebuchet-MS-Bold", Arial, sans-serif;