/* src/assets/styles/utils/_colors.scss  */

$basicDark: #000000;
$basicLight: #f2f2f2;
$basicPlain: #ffffff;
$default: #1698D9;
$defaultHover: #2EA8E6;
$selected: #D91667;
$selectedHover: #E52E7A;
$disabled: #B3B3B3;
$grey: #666666;
$warning: #ffff66;
