.content {
    &__container{
        width: 100%;
        margin: 0 auto;
        @include isFlex($align: flex-start, $justify: space-evenly)
        
    }

    &__list {
        width: 100%;
        margin-top: 22px;
        min-height: 509px;
        @include isFlex($align: flex-start, $justify: space-evenly);
        
    }

    &__item {
        width: 320px;
        height: 509px;
        overflow: visible;

        &_disabled {
            pointer-events: none;
        }
    }
}

.product {
    font-family: $trebuchet;
    color: $basicDark;

    &__container {
        width: 320px;
        height: 480px;
        border-radius: 12px;
        @include isFlex;
        background: linear-gradient(135deg, transparent 30px, #1698d9 0);

        &_disabled {
            @extend .product__container;
            background: linear-gradient(135deg, transparent 30px, #b3b3b3 0);
        }

        &:hover {
            background: linear-gradient(135deg, transparent 30px, #2ea8e6 0);
        }

        &:hover .product__circle{
            background: $defaultHover;
        }

        &_selected {
            @extend .product__container;
            background: linear-gradient(135deg, transparent 30px, #D91667 0);
        
            &:hover {
                background: linear-gradient(135deg, transparent 30px, #E52E7A 0);
            }
        
            &:hover .product__circle_selected {
                background: $selectedHover;
            }
        
            &:hover .product__motto:after {
                content: 'Котэ не одобряет?';
                color: $selectedHover;
            }
        }
    }

    &__item {
        box-sizing: border-box;
        position: relative;
        width: 312px;
        height: 472px;
        background-color: $basicLight;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 8px;
        background: linear-gradient(135deg, transparent 29px, #fff 0);

        &_disabled {
            @extend .product__item;
        }
}

    &__motto {
        width: 205px;
        margin-top: 18px;
        margin-left: 47px;
        height: 20px;
        display: block;
        font-size: 16px;
        line-height: 18.6px;
        text-align: left;

        &_disabled {
            @extend .product__motto;
            color: $disabled;
            &:after {
                content: 'Сказочное заморское яство';
            }
        }

        &:after {
            content: 'Сказочное заморское яство';
        }

    }

    &__title {
        font-family: $trebuchet_bold;
        width: 211px;
        height: 56px;
        display: block;
        margin-top: 4px;
        margin-left: 44px;
        font-weight: bold;
        font-size: 47px;
        letter-spacing: 0.6px;
        
        &_disabled {
            @extend .product__title;
            color: $disabled;
        }
    }

    &__taste {
        font-family: $trebuchet_bold;
        display: block;
        width: 120px;
        height: 29px;
        font-size: 24px;
        margin-left: 47px;
        line-height: 25px;

        &_disabled {
            @extend .product__taste;
            color: $disabled;
        }
    }

    &__amount {
        width: 127px;
        height: 48px;
        display: block;
        margin-top: 12px;
        margin-left: 47px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.5;
        color: $grey;

        &_disabled {
            @extend .product__amount;
            color: $disabled;
        }
    }

    &__img {
        position: absolute;
        left: -9%;
        //right: -7.5%;
        top: 43.2%;
        //bottom: -11%;

        &_disabled {
            @extend .product__img;
            opacity: 0.5;
        }
    }

    &__circle {
        background: $default;
        position: absolute;
        margin-top: 380px;
        margin-left: 220px;
        width:80px;
        height: 80px;
        border-radius: 50%;
        color: $basicPlain;

        &_disabled {
            @extend .product__circle;
            background: $disabled;
        }

        &_selected {
            @extend .product__circle;
            background: $selected;
        }
    }

    &__weight {
        font-family: $trebuchet;
        height: 22px;
        width: 57px;
        margin: 20px auto 0;
        font-size: 42px;
        text-align: center;
        line-height: 22px;
    }

    &__subweight {
        width: 21px;
        height: 22px;
        font-size: 21px;
        line-height: 22px;
        margin-top: 7.5px;
        margin-left: 30px;
    }

    &__message {
        height: 35px;
        font-size: 13px;
        line-height: 15px;
        font-family: $trebuchet;
        color: $basicPlain;
        margin-top: 13.5px;
        margin-left: 56px;

        &_disabled {
            @extend .product__message;
            color: $warning;
            margin-left: 65.5px;
            line-height: 16px;
        }
    }
}