.content {
    &__container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        
    }

    &__list {
        width: 100%;
        margin-top: 22px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__item {
        width: 320px;
        height: 528px;
        overflow: visible;

        &_disabled {
            pointer-events: none;
        }
    }
}

.product {
    font-family: $trebuchet;
    color: $basicDark;

    &__container {
        width: 320px;
        height: 499px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, transparent 30px, #1698d9 0);

        &_disabled {
            @extend .product__container;
            background: linear-gradient(135deg, transparent 30px, #b3b3b3 0);
        }

        &:hover {
            background: linear-gradient(135deg, transparent 30px, #2ea8e6 0);
        }

        &:hover .product__circle{
            background: $defaultHover;
        }
    }

    &__item {
        box-sizing: border-box;
        position: relative;
        width: 312px;
        height: 491px;
        background-color: $basicLight;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 8px;
        background: linear-gradient(135deg, transparent 29px, #fff 0);

        &_disabled {
            @extend .product__item;
        }
}

    &__motto {
        width: 218px;
        margin: 29px auto 0;
        height: 20px;
        display: block;
        font-size: 16px;
        line-height: 20px;
        text-align: left;

        &_disabled {
            @extend .product__motto;
            color: $disabled;
            &:after {
                content: 'Сказочное заморское яство';
            }
        }

        &:after {
            content: 'Сказочное заморское яство';
        }

    }

    &__title {
        font-family: $trebuchet_bold;
        font-weight: bold;
        position: absolute;
        margin-top: 67px;
        margin-left: 44px;
        font-size: 48px;
        
        &_disabled {
            @extend .product__title;
            color: $disabled;
        }
    }

    &__taste {
        display: block;
        position: absolute;
        height: 65px;
        font-size: 24px;
        line-height: 65px;
        top: calc(50% - 65px/2 - 122px - 4px);
        margin-left: 47px;

        &_disabled {
            @extend .product__taste;
            color: $disabled;
        }
    }

    &__amount {
        position: absolute;
        height: 16px;
        display: block;
        margin-left: 47px;
        font-size: 14px;
        line-height: 16px;
        top: calc(50% - 16px/2 - 99.5px);
        color: $grey;

        &_disabled {
            @extend .product__amount;
            color: $disabled;
        }
    }

    &__img {
        position: absolute;
        left: -7.5%;
        right: -7.5%;
        top: 40.86%;
        bottom: -11.59%;

        &_disabled {
            @extend .product__img;
            opacity: 0.5;
        }
    }

    &__circle {
        background: $default;
        position: absolute;
        margin-top: 380px;
        margin-left: 220px;
        width:80px;
        height: 80px;
        border-radius: 50%;
        color: $basicPlain;

        &_disabled {
            @extend .product__circle;
            background: $disabled;
        }
    }

    &__weight {
        font-family: $exo2thin;
        position: absolute;
        height: 22px;
        width: 57px;
        margin: 24px 12.5px 0;
        font-size: 42px;
        text-align: center;
        line-height: 22px;
    }

    &__subweight {
        position: absolute;
        width: 21px;
        height: 22px;
        font-size: 21px;
        line-height: 22px;
        margin: 54px 30.5px 0;
    }

    &__message {
        height: 35px;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: $basicPlain;
        margin: 14px auto 0;

        &_disabled {
            @extend .product__message;
            color: $warning;
        }
    }
}

.selected {
    background: linear-gradient(135deg, transparent 30px, #D91667 0);

    &:hover {
        background: linear-gradient(135deg, transparent 30px, #E52E7A 0);
    }

    &:hover .selected_color {
        background: $selectedHover;
    }

    &:hover .product__motto:after {
        content: 'Котэ не одобряет?';
        color: $selectedHover;
    }
}

.selected_color {
    background: $selected;
}

.disabled {
    color: $disabled;
}